<%c++ #include "file_test.h"%>
<%skin my_skin%>
<%view file_test_view uses file_test_content::content %>
<%template render()%>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
    <form method="post" action="" enctype="multipart/form-data">
	<% form as_p form%>
    </form>

</body>
</html>



<%end template%>

<%end view%>
<%end skin%>