<%c++ #include "main_window/main_window.h"%>
<%skin my_skin%>
<%view main_window uses main_window_content::content %>
<%template render()%>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= title%></title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.css" rel="stylesheet">
</head>
<style>
  main{
    font-family: Arial, "Times New Roman", sans-serif;

    height: 100vh;
    background-image: linear-gradient(to bottom, #fbbe4b, #f3b540, #ecab35, #e4a229, #dc991b);
  }
  
  
</style>
<body>
  <main>
    <header> 
      <nav class="navbar navbar-expand-lg navbar-dark orange accent-4">
        <div class="container-fluid">
          <a href="/" class="navbar-brand waves-effect"><strong class="" style="font-size: 25px">PHOENIX</strong></a>   

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
           </button>   
        <div class="navbar-collapse collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="news" class="nav-link"><%=left_title.first_button_name%><span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a href="contacts" class="nav-link"><%=left_title.second_button_name%></a></li>
            <li class="nav-item"><a href="https://github.com/Arseney300/phoenix" class="nav-link"><%=left_title.third_button_name%></a></li>
          </ul>
          <form method="POST" class="form-inline">
            <div class="md-form my-0">
              <input autocomplete="off" type="search" class="form-control mr-sm-2" name="input1" placeholder="<%=search.placeholder%>" id="input1" aria-label="Search">
              
            </div>
            <button class="btn btn-outline-white btn-md ml-2" type="button" onclick="go_to_note($('#input1').val())" ><%=search.button_name%></button>
          </form>
          <div class="dropdown">
            <button class="m-0 ml-2 btn peach-gradient dropdown-toggle pb-2 pr-3 pl-3 pt-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="border-radius: 8px">
              <!-- <img src="./img/PHOENIX.png" style="width:30px; height: 30px;"alt="" class="img rounded-circle m-0 p-0"> -->
              <%= account.account_name %>
            </button>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item" onclick="$('#main_card').toggle()"><%=dropdown_menu.button_1%></a>
              <a href="#" class="dropdown-item"><%=dropdown_menu.button_2%></a>
              <a href="#" class="dropdown-item"><%=dropdown_menu.button_3%></a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item text-right"><%=dropdown_menu.button_4%></a>
            </div>
          </div>
        </div> 
        </div>
      </nav>
    </header>

    
    <style>
      #main_card{
        position:  absolute;
        width: 600px;
        height: 550px;
        margin-left: 35vw;
        margin-top: 10vh;
      }
    </style>

    <div class="card rounded-bottom"  id="main_card" style="display:none; z-index: 3;">
        
        <div class="card-body amber lighten-5">
          
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Registration</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Login</a>
            </li>

          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="mb-0 mt-1" style="display: none; " id="reg_error"><p style="color:red"></p></div>
            <div class="tab-pane fade show active pt-2" id="home" role="tabpanel" aria-labelledby="home-tab">
              <p>Input your name:</p>
              <div class="md-form mt-0">
                <i class="fas fa-user prefix"></i>
                <input name="Login" type="text" id="inputText1" class="form-control" autofocus="true">
                <label for="inputText1">Login</label>
              </div>
              <p>Input your email:</p>
              <div class="md-form mt-0">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" name="Email" id="inputText2" class="form-control">
                <label for="inputText2">Email</label>
              </div>
              <p>Input password:  </p>
              <div class="md-form mt-0">
                <i class="fas prefix fa-key"></i>
                <input type="password" name="password_1" id="inputText3" class="form-control">
                <label for="inputText3">Password</label>
              </div>
              <p>Input password again:</p>
              <div class="md-form mt-0">
                <i class="fas prefix fa-key"></i>
                <input type="password" name="password_2" id="inputText4" class="form-control">
                <label for="inputText4">Password</label>
              </div>
              <div style="text-align: center;"><button class="btn btn-primary" type="button" onclick="createuser($('#inputText1').val(),$('#inputText2').val(), $('#inputText3').val(),$('#inputText4').val() )">REG</button></div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"> 
              <p>Input your name or email:</p>
              <div class="md-form mt-0">
                <i class="fas fa-user prefix"></i>
                <input name="Login" type="text" id="inputText5" class="form-control">
                <label for="inputText5">Login or email</label>
              </div>
              <p>Input password:</p>
              <div class="md-form mt-0">
                <i class="fas prefix fa-key"></i>
                <input type="password" name="password_1" id="inputText6" class="form-control">
                <label for="inputText6">Password</label>
              </div>
              <div style="text-align: center;"><button class="btn btn-primary" type="button" onclick="loginuser($('#inputText5').val(),$('#inputText6').val())">LOGIN</button></div>
            </div>
          </div>
        </div>
      </div>



    <div class="pt-2 mt-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 ">
            <div class="card waves-effect animated fadeInDown faster">
              <div class="card-body">
                <h3 class="card-title" style="text-align: left;"><%= hello_user_text%></h3>
                <p class="" style="font-size: 17px;">
                  <%= welcome_text%>
                </p>
                <a class="btn btn-primary mt-0" href="#" onclick="$('#main_card').show()"><%=reg_button_name%></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="card waves-effect mt-4 animated fadeInLeft faster">
                  <div class="card-body text-center">
                    <h3 class="card-title text-center"><%= new_text_title%></h3>
<!--                     <p>
                      <%= new_text%>
                    </p> -->
                    <img  class="m-0 p-0" src="./img/qr_note.png" alt="" height="350px" width="350px">
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card waves-effect mt-4 animated fadeInUp fast">
                  <div class="card-body">
                    <h3 class="card-title txt-left"><%=examples.title%></h3>
                    <img src="./img/table.png" alt="" style="height:auto; width:100%;">
                    <!-- <h3 class="card-title text-left"><%= examples.title%></h3>
                    <div class="example-image">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="card waves-effect">
                            <h5 class=""><%= examples.names.at(0)%></h5>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="card waves-effect">
                            <h5 class=""><%= examples.names.at(1)%></h5>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="card waves-effect">
                            <h5 class=""><%= examples.names.at(2)%></h5>
                          </div>
                        </div>
                      </div>
                    </div> -->

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 animated fadeInRight faster">
            <div class="card waves-effect">
              <div class="card-body">
                <h3 class="card-title text-center"><%= quick_note.title%></h3>
                <hr class="my-2">
                <div class="form-group shadow-textarea">
                  <label for="QuickNoteTextArea"><%= quick_note.input_text%></label>
                  <textarea style="max-height: 65vh" name="<%= qn_form.textarea.name() %>"  id="QuickNoteTextArea" cols="30" rows="10" class="form-control z-depth-1" placeholder="Write Something..." spellcheck="false"></textarea>
                </div>
                <div class="text-center"><button class="btn btn-danger" onclick="create_quick_note($('#QuickNoteTextArea').val())"><%=quick_note.button_name%></button></div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </main>


  <!-- SCRIPTS -->
  <!-- AutoSize TextArea -->
  <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
  <script>
    autosize(document.getElementById('QuickNoteTextArea'));
  </script>
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Для мувов -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>    
  <script>
    $("#main_card").draggable();


    jQuery(function($){
  $(document).mouseup(function (e){ // событие клика по веб-документу
    var div = $("#main_card"); // тут указываем ID элемента
    if (!div.is(e.target) // если клик был не по нашему блоку
        && div.has(e.target).length === 0) { // и не по его дочерним элементам
      div.hide(); // скрываем его
    }
  });
});
  </script>
  <script>
    function createuser(name,email,pass,pass2) {
      if (name =='' ||  email=='' || pass=='' || pass!=pass2 || pass.length <=5) { // а также ещё куча условий
        if (name==''){
          $("#reg_error > p").text("Please input name");
        }
        else if (email==''){
          $("#reg_error > p").text("Please input email");
        }
        else if (pass==''){
          $("#reg_error > p").text("Please input password");
        }
        else if(pass !=pass2){
          $("#reg_error > p").text("Password 1 != password 2");
        }
        else if(pass.length <=5){
          $("#reg_error > p").text("Password is very short (<=5)");
        }
        $("#reg_error").show();
      }
      else{
        res = jQuery.post("http://phoenixnote.site/post/create_user",{name:name,email:email,pass:pass},function(data){
          if (res.responseText == "user with this name exist" || res.responseText == "user with this email exist"){
            $("#reg_error > p").text(res.responseText);
            $("#reg_error").show();
          }
          else{
            $("#reg_error > p").text('created');
            $("#reg_error").show();
          }  
        },);


        

      }
    }

    function loginuser(name,pass) {
      if(name=='' || pass==''){
        if (name==''){
          $("#reg_error > p").text("Please input name or email");
          $("#reg_error").show();
        }
        else if (pass == ''){
          $("#reg_error > p").text("Please input password");
          $("#reg_error").show();
        }
      }
      else{
        res = $.post('http://phoenixnote.site/post/login_user', {"login": name, "pass":pass}, function(data) {
          /*optional stuff to do after success */
          //проверка на то, что логин прошел успешно:
          if(data == "user with this name or email not exist" || data == "WRONG PASSWORD"){
            $("#reg_error > p").text(data); 
            $("#reg_error").show();
          }
          else{
            //запрос на создание сессии
            $.post('http://phoenixnote.site/post/create_user_session', {"user_id": data}, function(data2) {
              /*optional stuff to do after success */
              if(data2 == "success"){
                window.location.assign("http://phoenixnote.site/user");
              }
              else{
                $("#reg_error > p").text("problmes with session");
                $("#reg_error").show();
              }
            });
          }
        });
      }
    }
    function go_to_note(note_id){
      window.location.assign("http://phoenixnote.site/note/"+note_id);
    }

    function create_quick_note(text){
      if (text == ''){
        $("#QuickNoteTextArea").val("please input text");
      }
      else{
        $.post("http://phoenixnote.site/post/create_quick_note",{"text":text,date:"2019-05-05 5:12"}, function(data){
          window.location.assign("http://phoenixnote.site/note/"+data);
        }); 
        

      }
    }
  </script>
</body>

</html>



<%end template%>

<%end view%>
<%end skin%>
