<%c++ #include "news/news.h"%>
<%skin my_skin%>
<%view news_view uses news_content::content %>
<%template render()%>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= title%></title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="media/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="media/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="media/css/style.css" rel="stylesheet">
</head>
<style>
  main{
    font-family: Arial, "Times New Roman", sans-serif;

    height: 100vh;
    background-image: linear-gradient(to bottom, #fbbe4b, #f3b540, #ecab35, #e4a229, #dc991b);
  }
  
  
</style>
<body>
  <main>
    <header> 
      <nav class="navbar navbar-expand-lg navbar-dark orange accent-4">
        <div class="container-fluid">
          <a href="/" class="navbar-brand waves-effect"><strong class="" style="font-size: 25px">PHOENIX</strong></a>   

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
           </button>   
        <div class="navbar-collapse collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a href="/news" class="nav-link"><%=left_title.first_button_name%><span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a href="contacts" class="nav-link"><%=left_title.second_button_name%></a></li>
            <li class="nav-item"><a href="https://github.com/Arseney300/phoenix" class="nav-link"><%=left_title.third_button_name%></a></li>
          </ul>
          <form method="POST" class="form-inline">
            <div class="md-form my-0">
              <input autocomplete="off" type="search" class="form-control mr-sm-2" name="input1" placeholder="<%=search.placeholder%>" id="input1" aria-label="Search">              
            </div>
            <button class="btn btn-outline-white btn-md ml-2" type="button" onclick="go_to_note($('#input1').val())" ><%=search.button_name%></button>
          </form>
        </div> 
        </div>
      </nav>
    </header>

    


      <div class="pt-2 mt-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card waves-effect">
                <div class="card-body">
                  <p style ="font-size: 30px; text-align: center;">
                    Новости  Phoenix
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card waves-effect mt-4 animated fadeInLeft p-3">
                <h3 class="card-title text-left">
                  Version 3.6.0
                </h3>
                <p>
                  Полностью переписан сайт <br>
                  Добавлен язык brainfuck
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card waves-effect mt-4 animated fadeInDown p-3">
                <h3 class="card-title text-left">
                  Version 3.5.0
                </h3>
                <p>
                  Частично изменент дизайн сайта <br>
                  Переписаны запросы <br>
                  Структуризирован код <br>
                  Убраны многие баги и ошибки <br>
                  Сервер сделан стабильным
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card waves-effect mt-4 animated fadeInRight p-3">
                <h3 class="card-title text-left">
                Version 3.3.0
              </h3>
              <p>
                Добавлены c++ и python
              </p>
              </div>
            </div>
          </div>
        </div>
      </div>



  </main>


  <!-- SCRIPTS -->
  <!-- AutoSize TextArea -->
  <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
  <script>
    autosize(document.getElementById('QuickNoteTextArea'));
  </script>
  <!-- JQuery -->
  <script type="text/javascript" src="media/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="media/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="media/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="media/js/mdb.min.js"></script>
  <!-- Для мувов -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>    
  

</body>

</html>


<%end template%>

<%end view%>
<%end skin%>
