<%c++ #include "reset_password/reset_password.h"%>
<%skin my_skin%>
<%view reset_password_view uses reset_password_content::content %>
<%template render()%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= title%></title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.css" rel="stylesheet">
</head>
<style>
  main{
    font-family: Arial, "Times New Roman", sans-serif;

    height: 100vh;
    background-image: linear-gradient(to bottom, #fbbe4b, #f3b540, #ecab35, #e4a229, #dc991b);
  }
  
  
</style>
<body>
    <form method="post" action="" enctype="multipart/form-data">
	
	 form as_p form

		new_password: <input type="text" name="first_password">
		new_password_agian: <input "text" name ="second_password">
		<button type="submit">Ready</button>
    </form>

</body>
</html>



<%end template%>

<%end view%>
<%end skin%>